.taskInput{
    background-color: transparent;
    border-color: red;
    border: transparent;
    padding: 4px;
    border-radius: 1px;
    margin: 16px;
    width: 500px;
    color:rgba(34,34,34,1);
    font-family: Roboto, sans-serif;
    font-size: 24px;
    gap: 4px;

}